header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    display: flex;
    padding: 2.3rem 4%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header div {
    font-size: .9rem;
    font-weight: bold;
    color: var(--color-secondary);
}

header div span {
    text-transform: capitalize;
}

header div span:first-child {
    font-size: x-large;
    color: var(--color-primary);
}

header nav a {
    display: inline-block;
    padding: 1rem;
    padding-top: .5rem;
    line-height: normal;
    text-decoration: none;
    color: var(--color-primary);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    margin-right: 2px;
}

header nav a:hover {
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 5px;
}

header nav a i {
    font-size: large;
}

section {
    min-height: 100vh;
    padding: 2.5rem 0;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Assets/Img/home_fondo_background.svg) no-repeat center;
    background-size: cover;
}

.image {
    padding-left: 1.2rem;
    margin-left: 1rem;
}

.image img {
    width: 17vw;
    margin-right: 10rem;
    box-shadow: 0 .2rem .7rem var(--color-text);
    animation: float 4.5s linear infinite;
}

.inicio .content h3 {
    font-size: 3rem;
    padding: 1rem;
    color: var(--color-text);
    text-transform: uppercase;
}

.inicio .content h3 span {
    color: var(--color-primary);
    text-transform: uppercase;
}

.inicio .content p {
    font-size: 1.5rem;
    color: var(--color-text);
    padding: 1.5rem;
    padding-right: 4rem
}

.heading {
    text-align: center;
    background: var(--color-primary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.caja img {
    width: 150px;
}

.image2 img {
    width: 25vw;
    margin: 0 5rem;
    box-shadow: 0 .2rem .7rem var(--color-text);
}

.caja img:hover,
.image2 img:hover {
    animation: float2 1s linear;
}

.opiniones .caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.opiniones .caja-contenedor .caja {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    flex: 1 0 25rem;
}

.opiniones .caja-contenedor .caja .usuario img {
    object-fit: cover;
    box-shadow: 0 .1rem .3rem var(--color-text);
    margin-top: 1rem;
}

.opiniones .caja-contenedor .caja .usuario h3 {
    color: var(--color-text);
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
}

.opiniones .caja-contenedor .caja .usuario .autor {
    color: var(--color-primary);
    font-weight: bold;
    font-size: x-small;
}

.caja {
    background: url(../Assets/Img/home_fondo_background_libros.svg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    border-radius: 1rem;
}

.usuario {
    height: 100%;
}

.usuario:hover {
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--color-text);
}

.caja .usuario .comentarios {
    margin-top: 1rem;
    text-align: center;
    padding: 0 1rem;
}

.caja .usuario .comentarios p {
    font-size: small;
    color: var(--color-text);
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: background .2s linear;
}

.btn-inicio {
    border-radius: 1rem;
    margin-left: 1.4rem;
    background: var(--color-secondary);
}

.btn-comment {
    border-radius: .5rem;
    background: var(--color-primary);
    margin-left: 0;
}

.btn-inicio:hover {
    background: var(--color-primary);
}

.btn-comment:hover {
    background: var(--color-secondary);
}

.btn:active {
    transform: scale(.98);
}

footer {
    padding-top: 3rem;
    background: url(../Assets/Img/home_fondo_footer.svg) no-repeat center;
    background-size: cover;
}

footer .caja-contenedor {
    display: flex;
    flex-wrap: wrap;
}

footer .caja-contenedor .caja1 {
    flex: 1 1 25rem;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

footer .caja-contenedor .caja1 h3 {
    font-size: 1rem;
    padding: 1rem 0;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

footer .caja-contenedor .caja1 p {
    font-size: x-small;
    padding: .4rem 0;
    color: var(--color-white);
}

footer .caja-contenedor .caja1 .info {
    display: flex;
    align-items: center;
}

footer .caja-contenedor .caja1 .info i {
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: var(--color-white);
    color: var(--color-primary);
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    transition: color .2s linear;
}

footer .caja-contenedor .caja1 .info i:hover {
    color: var(--color-secondary);
}

footer .creditos {
    font-size: .6rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--color-white);
    border-top: .1rem solid var(--color-white);
    padding: .5rem 1rem;
    text-align: center;
}

@keyframes float {
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2rem);
    }
}

@keyframes float2 {
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-0.3rem);
    }
}
