.container-fluid {
    width: 100%;
    height: 100vh;
    background: url(../Assets/Img/login_fondo_background.svg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: url(../Assets/Img/login_fondo_form.svg);
    background-size: cover;
    background-position: center;
    margin: auto;
    max-width: 370px;
    padding: 4rem 3em;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 1px rgb(0 0 0 / 30%);
}

.form_title {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: .5rem;
}

.form_paragraph {
    text-align: center;
    font-size: small;
}

a {
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-text);
}

a:hover {
    font-weight: bold;
    color: var(--color-primary);
}

.form_container {
    margin-top: 2.7em;
    display: grid;
    gap: 2.5em;
}

.form_group {
    position: relative;
    color: #5757577e;
}

.form_input {
    width: 100%;
    background: none;
    color: var(--color-text);
    font-size: small;
    padding: .8rem .3rem;
    padding-left: 2.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-secondary);
    font-family: 'Montserrat Alternates', sans-serif;
}

.form_input:not(:placeholder-shown) {
    color: var(--color-text);
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: var(--color-primary);
}

.form_label {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 2.3rem;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
    font-size: 14px;
}

.form_group i {
    position: absolute;
    left: 1px;
    border-radius: 50%;
    color: var(--color-primary);
    font-size: 1.1rem;
    padding-top: 10px;
    padding-left: 5px;
}

button {
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-white);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: small;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    transition: background .5s ease;
}

button:hover {
    background: var(--color-secondary);
}

button:active {
    transform: scale(0.99);
}

button i {
    margin-right: .5rem;
}
