
.container-fluid {
    width: 100%;
    height: 100vh;
    background: url(../Assets/Img/custom_fondo_background.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-client {
    background: var(--color-degraded);
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 3px 5px rgb(64, 65, 65);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.user-picture i {
    font-size: 2rem;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media div  {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.social-media div:last-child {
    margin-right: 0;
}

.social-media div  i {
    width: 1.1rem;
    fill: currentColor;
}

.tooltip-social {
    background: var(--color-text);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media div .tooltip-social:after {
    border-top-color: var(--color-text);
}

.social-media div:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}

.container-btn {
    margin-top: 1rem;
}

.btn {
    padding: .2rem 46.8%;
    text-align: center;
    margin: 0;
    width: 100%;
    box-shadow: 0 3px 5px rgb(64, 65, 65);
    border-radius: 0 0 10px 10px;
    background-color: var(--color-primary);
}

.btn i {
    font-size: medium;
    color: var(--color-white);
}