body {
    display: flex;
}

.container-fluid {
    width: 100%;
    background: url(../Assets/Img/custom_fondo_background.svg);
    background-size: cover;
    background-position: center;
}

.caja-regresar {
    position: fixed;
    width: 97%;
    margin: auto;
}

.caja-regresar .menu-regresar {
    float: right;
    line-height: 100px;
    font-weight: bold;
}

.caja-regresar .menu-regresar a {
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.caja-regresar .menu-regresar a:hover {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 5px;
}

.Contenedor-Padre {
    width: 90%;
    height: 78vh;
    margin: 0 auto;
    margin-top: 6rem;
    box-shadow: 0 .5rem 1rem var(--color-text);
    padding: 0.5rem;
    background: var(--color-white);
    border-radius: 1rem;
    padding: 0 1rem;
}

.Contenedor-Padre .cabecera {
    width: 100%;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .05rem solid var(--color-secondary);
}

.Contenedor-Padre .cabecera form {
    padding: 0;
    margin: 0;
}

.Contenedor-Padre .cabecera h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.Contenedor-Padre .caja-tabla {
    background: var(--color-white);
    width: 100%;
    height: 82%;
    overflow: auto;
    border-bottom: .05rem solid var(--color-secondary);
}

.Contenedor-Padre .caja-tabla table {
    border: .1rem solid var(--color-secondary);
    border-radius: .3rem;
    width: 99%;
    padding: .2rem;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: .1rem;
}

.btn-td .btn-link {
    margin: 0 auto;
}

.btn-link {
    border: .1rem solid var(--color-degraded);
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: .3rem;
    width: 8rem;
    height: 2rem;
    padding: .2rem;
    margin-top: 1rem;
    text-align: center;
    font-size: .7rem;
    transition: background-color .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-link:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.btn-link i {
    margin: 0 auto;
}

.Contenedor-Padre .caja-tabla table {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    height: 93%;
}

.Contenedor-Padre .caja-tabla thead {
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    position: sticky;
    border-radius: .3rem;
    background: var(--color-white);
    top: 0;
}

.Contenedor-Padre .caja-tabla thead td {
    border-bottom: .1rem solid var(--color-secondary);
}

.Contenedor-Padre .caja-tabla table tbody .dos {
    font-size: .8rem;
}

.Contenedor-Padre .caja-tabla table tbody .dos td {
    width: 13%;
}
